/*全局样式*/
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 13px;
}
.el-card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15)!important;
}
.el-table th.gutter{
    display: table-cell!important;
}
